/* Global styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #180c0c;
}

ul {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

li {
    padding-bottom: 10px;
}


/* Container Styles */
.container-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-game > section.game {
    flex: 1;
}

/* Game Section Styles */
.game {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Game Status Restart Button Centered */
.restart-btn-centered {
    display: flex;
    justify-content: center;
}

/* Game Log Styles */
.game-log {
    display: none;
    width: 20vw;
    height: 396px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 50px 40px;
    position: absolute;
    border-radius: 15px;
}

.game-log-players-moves {
    left: 0;
}

.game-log-string-changes {
    right: 0;
}
#log-list-player-moves {
    padding-left: 30px;
}

#log-list-player-moves > li {
    list-style-type: decimal-leading-zero;
}

/* Additional Content Styles */
.additional-content {
    display: none;
}

/* Typography */
h1 {
    text-align: center;
}

.aside-style > h4{
    margin: 10px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    min-width: 170px; /* Adjust the width as needed */
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Styles */
.buttons {
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.start-game-btn {
    background-color: #008CBA;
}

.start-game-btn:hover {
    background-color: #005f7f;
}

#restart-btn {
    display: none;
    background-color: #f44336;
}

#restart-btn:hover {
    background-color: #d32f2f;
}

/* Scroll-bar styles */
.log-ul {
    max-height: 300px;
    overflow-y: scroll;
}

.log-ul::-webkit-scrollbar {
    width: 10px;
}

.log-ul::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.log-ul::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}


/* Paired and Unpaired Numbers Styles */
.paired,
.unpaired {
    cursor: pointer;
}

.paired:hover {
    background-color: lightgreen;
}

.unpaired:hover {
    background-color: salmon;
}

/* Montserrat Font Style */
.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
